<footer>
<div class="footer navbar-fixed-bottom page-wrap-footer font-small blue pt-6 text-center navbar-fixed-bottom mr-md-auto" >  

<footer class="footer navbar-fixed-bottom page-wrap-footer font-small blue pt-6 text-center fixed" >
 
 
  <div class=" pt-1 has text-warning">
  	<a class="has text-primary" href="/products/terms_and_conditions">-Terms and conditions</a>/
  	<a class="has text-primary" href="/products/privacy_policy">-Privacy Policy</a>
    </br>

    <!--<p class="mr-md-auto">
            <#%= social_share_button_tag(@product, 'data-twitter-title' => 'Title for Twitter') %>
    </p>-->

    

  	
    
    <!--<p class="ml-md-auto">
            <#%= social_share_button_tag(@product, 'data-twitter-title' => 'Title for Twitter') %>-->
    </p>
  

<div class="footer navbar-fixed-bottom page-wrap-footer font-small blue pt-6 text-center fixed"><span class="mr-md-auto">
            <%= social_share_button_tag(@product, 'data-twitter-title' => 'Title for Twitter') %></span>

    </p><p class="mt-3"> 
    Copyright &copy; 2020 Notify.rw | Designed by Mahirwe Yves </p>

</footer>